$go-primary-color: #fe8400;
$go-secondary-color: #101a5c;
$go-positive-color: #66bb6a;
$go-negative-color: #ef5350;
$go-info-color: #2982cc;
$go-warning-color: #f9b115;
$go-accent-color: #9c27b0;
$go-dark-color: #636f83;
$go-grey-color: #696969;
$go-text-color: #ffffff;
